# Eclipse-specific files
.metadata
.metadata/
.settings/
.project
.classpath

# Compiled files
bin/
*.class

# Build tool files
target/
.gradle/
build/

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# IDE-specific files
.idea/
.vscode/

# Logs and temporary files
*.log
*.tmp

M.A.E.K_PROJECT/src/module-info.java